﻿@model DemoASP.NET.Models.Quote

@{
    ViewData["Title"] = "Home Page";
    Random random = new Random();
    var randomNumber = random.Next(0, QuoteStore.GetQuotes().Count());
    var quotes = QuoteStore.GetQuotes();
}


<section class="main">

    <div class="Text-section">
        <h1 class="bg-dark text-white text-center m-2 p-2"> Quotes</h1>
        <div text">
            <blockquote class="quotes text-xl-center">"@quotes[randomNumber].NewQuote"</blockquote>
            <hr />
            <p class="author text-lg-center">Author - @quotes[randomNumber].Author</p>
        </div>
        <div class="text-right">
            <a asp-action="Index" class="btn btn-outline-danger"> Shuffle </a>
        </div>
    </div>
</section>

