﻿@model DemoASP.NET.Models.Quote

@{
    ViewData["Title"] = "New Quote";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="NewQuote">

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="quote">Quote</label>
        <input asp-for="NewQuote" class="form-control" id="quote">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input asp-for="Author" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Quote</button>
</form>
